In [1]:
import pandas as pd
import json

In [2]:
MovieCharacter_PATH ="/Users/yisisang/Desktop/Character/data/7_2/data/movies/characters.json"
MovieProfile_PATH ="/Users/yisisang/Desktop/Character/data/7_2/data/movies/profiles.json"

In [26]:
MovieCharacter = pd.read_json(MovieCharacter_PATH)
MovieCharacter.shape

(33879, 22)

In [27]:
MovieProfile = pd.read_json(MovieProfile_PATH)
MovieProfile = MovieProfile.transpose()
MovieProfile.shape

(33858, 18)

In [17]:
MovieProfile['id'] = MovieProfile.index

In [25]:
Movie = pd.merge(MovieCharacter, MovieProfile, on='id', how='outer')
Movie.shape

(33879, 40)

In [34]:
Movie_MBTI = Movie[['E', 'I', 'T', 'F', 'S','N','J','P']]
Movie_MBTI.shape

(33879, 8)

In [36]:
Movie_MBTI

         E    I    T    F    S    N    J    P
0      NaN   96  NaN   99  NaN   83  NaN   96
1       81  NaN   99  NaN   96  NaN  NaN   99
2       99  NaN   99  NaN   51  NaN  100  NaN
3      NaN   78   91  NaN   82  NaN   92  NaN
4       90  NaN  NaN   92   69  NaN  NaN   94
...    ...  ...  ...  ...  ...  ...  ...  ...
33874  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33875  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33876  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33877  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33878  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[33879 rows x 8 columns]

In [37]:
Movie_dropNaN = Movie_MBTI.dropna(axis=0,how='all')
Movie_dropNaN.shape

(25450, 8)

In [38]:
Movie_dropNaN

         E    I    T    F    S    N    J    P
0      NaN   96  NaN   99  NaN   83  NaN   96
1       81  NaN   99  NaN   96  NaN  NaN   99
2       99  NaN   99  NaN   51  NaN  100  NaN
3      NaN   78   91  NaN   82  NaN   92  NaN
4       90  NaN  NaN   92   69  NaN  NaN   94
...    ...  ...  ...  ...  ...  ...  ...  ...
33868  100  NaN  100  NaN  NaN  100  100  NaN
33869  NaN  100  100  NaN  100  NaN  NaN  100
33870  NaN  100  NaN  100  100  NaN  100  NaN
33871  100  NaN  100  NaN  100  NaN  100  NaN
33872  NaN  100  NaN  100  100  NaN  100  NaN

[25450 rows x 8 columns]